### Custom
sentitweet/data/*
database.bak

###

# Byte-compiled files
__pycache__

# Packaging directories
build/
lib/

# Jupyter Notebook
.ipynb_checkpoints

# Environmental vars
.env
.env-bak

#Environments
.venv
venv/
venv.bak/
