### Custom
sentitweet/data/*
database.bak
db_backup.sql

###

# Byte-compiled files
__pycache__

# Packaging directories
build/
lib/

# Jupyter Notebook
.ipynb_checkpoints
notebooks/

# Environmental vars
.env
.env-bak

#Environments
.venv
venv/
venv.bak/
