{% extends "layouts/base.html" %}
{%load plotly_dash%}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row align-items-center">
                                <!-- [ Info ] start -->
                                <div class="col-md-3 col-xl-3">
                                    <div class="card align-items-center">
                                        <div class="card-block">
                                            <span class="d-block text-uppercase">ANALYZED COMPANIES</span>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-bar-chart-2 text-c-green f-30 m-r-10"></i>
                                                            {{companies|length}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-8">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4>You can filter the comapnies by name in the search pane.</h4>
                                            <span>When you click on them you will go to the detailed company page.</span>
                                           
                                        </div>
                                    </div>
                                </div>

                                <!-- [ Info ] end -->

                                <!--[ Comapnies ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <input class="form-control" type="text" placeholder="Search All Companies..." id="searchTable">
                                        </div>
                                        <div class="card-block px-0 py-3">
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table id="listAllTable" class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <th ></th>
                                                            <th >Company name and symbol</th>
                                                            {% comment %} <th colspan="2">Company name</th> {% endcomment %}
                                                            <th>Total Tweets</th>
                                                            <th>Unique Hashtags</th>
                                                            <th>Last updated</th>
                                                            <th>Total Followers</th>
                                                        </tr>
                                                    {% for company in companies %}
                                                        <tr class="unread">
                                                            <td>
                                                                <a href="{{company.symbol}}/">
                                                                    <i class="far fa-building text-c-blue f-28"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{company.symbol}}/">
                                                                    <h6 class="mb-1">{{company.name}}</h6>
                                                                    <p class="m-0">{{company.symbol}}</p>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{company.tweets.all|length}} Tweets</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{company.hashtags.all|length}} Hashtags</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="text-muted">
                                                                    <i class={% if company.is_up_to_date %} "fas fa-circle text-c-green f-10 m-r-15" 
                                                                    {% else%} "fas fa-circle text-c-red f-10 m-r-15" {% endif %}>
                                                                    </i>
                                                                    {{company.newest_tweet.post_date|timesince}}
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{company.favorites.all|length}} Followers</h6>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Comapnies ] end-->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
