{% extends "layouts/base.html" %}
{%load plotly_dash%}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div style="height:400px; ">
                                {% plotly_app name="Comapny_detail" ratio=0.4%}
                            </div>
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h2>{{company.name}}</h2>
                                            <h4>{{company.symbol}}</h4>
                                            <p>{{company.oldest_tweet.post_date}} - {{company.newest_tweet.post_date}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4>Tweet#: {{company.tweets.all|length}}</h4>
                                            <h4>Hashtag#: {{company.hashtags.all|length}}</h4>
                                            <h4>Twitter Users#: {{company.twitter_users.all|length}}</h4>
                                            <h4>Followers#: {{company.favorites.all|length}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4>Search Hashtags:</h4>
                                            {% for hashtag in company.get_search_hashtags %}
                                                {{hashtag}}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4>Total Likes#: {{company.total_likes}}</h4>
                                            <h4>Total Retweets#: {{company.total_retweets}}</h4>
                                            <h4>Total Comments#: {{company.total_comments}}</h4>
                                        </div>
                                    </div>
                                </div>

                                <!--[ Clusters ] start-->
                                {% if clusters %}
                                    <div class="col-xl-12 col-md-12 m-b-30">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            {% for i in clusters %}
                                                <li class="nav-item {% if forloop.counter == 1 %} active show {% endif %}">
                                                    <a class="nav-link" id="event-{{forloop.counter}}-tab" data-toggle="tab" href="#event-{{forloop.counter}}" role="tab"
                                                        aria-controls="event-{{forloop.counter}}" aria-selected="{% if forloop.counter == 1 %} true {% else %} false {% endif %}">Event {{forloop.counter}}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                        {% for top_word, best_tweets in clusters %}
                                            <div class="tab-pane fade {% if forloop.counter == 1 %} active show {% endif %}" id="event-{{forloop.counter}}" role="tabpanel" aria-labelledby="event-{{forloop.counter}}-tab">
                                                {% comment %} <hr/> {% endcomment %}
                                                <h4>Top used words in this potential event</h4> 
                                                <hr/>
                                                <p>{% for word in top_word %} {% if not forloop.counter == 1 %} - {% endif %}{{word}} {% endfor %}</p>
                                                <h4>Most representative tweets for this potential event</h4> 
                                                {% for best_tweet in best_tweets %}
                                                    <hr/>
                                                    <p class="m-0 text-c-green" style="white-space: initial;">{{best_tweet}}</p>
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <!--[ Clusters ] end-->

                                
                                <!-- [ Best Tweets ] start-->
                                <div class="col-xl-8 col-md-12 m-b-30">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active show" id="like-tab" data-toggle="tab" href="#like" role="tab"
                                                aria-controls="like" aria-selected="true">Most Liked Tweets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="retweet-tab" data-toggle="tab"
                                                href="#retweet" role="tab" aria-controls="retweet" aria-selected="false">Most Retweeted Tweets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment"
                                                role="tab" aria-controls="comment" aria-selected="false">Most Commented Tweets</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade active show" id="like" role="tabpanel" aria-labelledby="like-tab">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Tweet</th>
                                                    <th>Likes#</th>
                                                    <th>Retweets#</th>
                                                    <th>Comments#</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for tweet in tweets|dictsortreversed:'like_number'|slice:':5' %}
                                                    <tr>
                                                        <td>
                                                            <a href="/users/{{tweet.user.id}}/">
                                                                <p class="m-0 text-c-green" style="white-space: initial;">{{tweet.text}}</p>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.like_number}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.retweet_number}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.comment_number}}</h6>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="tab-pane fade" id="retweet" role="tabpanel"
                                                aria-labelledby="retweet-tab">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Tweet</th>
                                                    <th>Likes#</th>
                                                    <th>Retweets#</th>
                                                    <th>Comments#</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for tweet in tweets|dictsortreversed:'retweet_number'|slice:':5' %}
                                                    <tr>
                                                        <td>
                                                            <a href="/users/{{tweet.user.id}}/">
                                                                <p class="m-0 text-c-green" style="white-space: initial;">{{tweet.text}}</p>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.like_number}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.retweet_number}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.comment_number}}</h6>
                                                        </td>
                                                        
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="tab-pane fade" id="comment" role="tabpanel"
                                                aria-labelledby="comment-tab">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Tweet</th>
                                                    <th>Likes#</th>
                                                    <th>Retweets#</th>
                                                    <th>Comments#</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for tweet in tweets|dictsortreversed:'comment_number'|slice:':5' %}
                                                    <tr>
                                                        <td>
                                                            <a href="/users/{{tweet.user.id}}/">
                                                                <p class="m-0 text-c-green" style="white-space: initial;">{{tweet.text}}</p>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.like_number}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.retweet_number}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="m-0">{{tweet.comment_number}}</h6>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
