{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <!-- [ Info ] start -->
                                <div class="col-md-3 col-xl-3">
                                    <div class="card align-items-center">
                                        <div class="card-block">
                                            <span class="d-block text-uppercase">TOTAL HASHTAGS</span>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                                        <i class="feather icon-hash text-c-red f-30 m-r-10"></i>
                                                            {{hashtags|length}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-8">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4>You can filter the hashtags in the search pane.</h4>
                                            <span>When you click on them you will go to the detailed hashtag page.</span>
                                           
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Info ] end -->

                                <!--[ Comapnies ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <input class="form-control" type="text" placeholder="Search All Hashtags..." id="searchTableHashtags">
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table id="listAllTableHashtags" class="table table-hover">
                                                    <tbody>
                                                        <tbody>
                                                            <tr>
                                                                <th ></th>
                                                                <th >Hashtag</th>
                                                                {% comment %} <th colspan="2">Company name</th> {% endcomment %}
                                                                <th>Total Tweets</th>
                                                                <th>Contained in sets</th>
                                                                <th>Last updated</th>
                                                                <th>Total Followers</th>
                                                            </tr>
                                                        {% for hashtag in hashtags|slice:':100' %}
                                                        <tr class="unread">
                                                            <td>
                                                                <a href="{{hashtag.clean_value}}/">
                                                                    <i class="feather icon-hash text-c-red f-30 m-r-10"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{hashtag.clean_value}}/">
                                                                    <h6 class="mb-1">{{hashtag.value}}</h6>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{hashtag.tweets.all|length}} Tweets</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{hashtag.sets.all|length}} Sets</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="text-muted">
                                                                    <i class={% if hashtag.is_up_to_date %} "fas fa-circle text-c-green f-10 m-r-15" 
                                                                        {% else%} "fas fa-circle text-c-red f-10 m-r-15" {% endif %}>
                                                                    </i>
                                                                    {{hashtag.newest_tweet.post_date|timesince}}
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{hashtag.favorites.all|length}} Followers</h6>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Comapnies ] end-->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
