{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <!-- [ Info ] start -->
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h2>{{sets|length}} Sets</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            Some info
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <h4>Something very interesting</h4>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ Info ] end -->

                                <!--[ Comapnies ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <input class="form-control" type="text" placeholder="Search All Hashtags..." id="searchTable">
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table id="listAllTable" class="table table-hover">
                                                    <tbody>
                                                    {% for set in sets|slice:':100' %}
                                                        <tr class="unread">
                                                            <td>
                                                                <a href="{{set.id}}/">
                                                                    <h6 class="mb-1" style="white-space: initial;">{{set.name}}</h6>
                                                                </a>
                                                                <a href="/contributors/{{set.creator.id}}/">
                                                                    <p class="m-0">By: {{set.creator}}</p>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{set.tweets.all|length}} Tweets</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{set.hashtags.all|length}} Hashtags</h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="text-muted">
                                                                    <i class={% if set.is_up_to_date %} "fas fa-circle text-c-green f-10 m-r-15" 
                                                                        {% else%} "fas fa-circle text-c-red f-10 m-r-15" {% endif %}>
                                                                    </i>
                                                                    {{set.newest_tweet.post_date|timesince}}
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6 class="mb-1">{{set.favorites.all|length}} Followers</h6>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Comapnies ] end-->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
