{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper align-items-center">
                            <!-- [ Main Content ] start -->

                            {% comment %} <div class="col-md-3 align-items-center">
                                    <img 
                                    style="width:400px;   
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;"
                                    src="{{ ASSETS_ROOT }}/images/big_logo_SentiTweet.png" 
                                    alt="sentitweet-logo"
                                > 
                                </div>
                            </div> {% endcomment %}
                            <div class="row">
                                <!--[ Companies in our database ] start-->
                                <div class="col-md-3 col-xl-3">
                                    <div class="card align-items-center">
                                        <div class="card-block">
                                            <span class="d-block text-uppercase">ANALYZED COMPANIES</span>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-bar-chart-2 text-c-green f-30 m-r-10"></i>
                                                            {{companies|length}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Companies in our database ] end-->
                                <!--[ Active users ] start-->
                                <div class="col-md-3 col-xl-3">
                                    <div class="card align-items-center">
                                        <div class="card-block">
                                            <span class="d-block text-uppercase">ACTIVE USERS</span>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-user text-c-blue f-30 m-r-10"></i>
                                                            {{users|length}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Companies in our database ] end-->
                                <!--[ Hashtags in our database  ] start-->
                                <div class="col-md-3 col-xl-3">
                                    <div class="card align-items-center">
                                        <div class="card-block">
                                                <span class="d-block text-uppercase">TOTAL HASHTAGS</span>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-hash text-c-red f-30 m-r-10"></i>
                                                            {{hashtags|length}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Hashtags in our database  ] end-->
                                <!--[ Hashtag sets in our database (public)] start-->
                                <div class="col-md-3 col-xl-3">
                                    <div class="card align-items-center">
                                        <div class="card-block">
                                            <span class="d-block text-uppercase">PUBLIC HASHTAGS SETS</span>
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                                            class="feather icon-slack text-c-purple f-30 m-r-10"></i>
                                                            {{sets|length}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Hashtag sets in our database (public)] end-->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
