<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">SentiTweet</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">

                {% comment %} <li class="nav-item">
                    <div class="main-search">
                        <div class="input-group">
                            <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                            <a href="javascript:" class="input-group-append search-close">
                                <i class="feather icon-x input-group-text"></i>
                            </a>
                            <span class="input-group-append search-btn btn btn-primary">
                                <i class="feather icon-search input-group-text"></i>
                            </span>
                        </div>
                    </div>
                </li> {% endcomment %}

                <li class="nav-item">
                    <a href="javascript:" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-search"></i></span>
                        <input type="text" id="m-search" class="pcoded-mtext" style="border: none; background:none; caret-color: #ffffff; color:#ffffff;" placeholder="Search...">
                    </a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard home" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Home</span></a>
                </li> 
                <li data-username="dashboard discover" 
                    class="nav-item {% if 'discover' in segment %} active {% endif %}">
                    <a href="/discover" class="nav-link "><span class="pcoded-micon"><i class="feather icon-loader"></i></span><span
                            class="pcoded-mtext">Discover</span></a>
                </li>
                <li data-username="dashboard trends" 
                    class="nav-item {% if 'trends' in segment %} active {% endif %}">
                    <a href="/trends" class="nav-link "><span class="pcoded-micon"><i class="feather icon-trending-up"></i></span><span
                            class="pcoded-mtext">Trends</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>General</label>
                </li>
                <li data-username="companies company"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="far fa-building"></i></i></span><span
                            class="pcoded-mtext">Companies</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/companies/" class="">All Companies</a></li>
                        <hr/>
                        {% for company in companies|dictsortreversed:'market_cap'|slice:':10' %}
                            <li class=""><a href="/companies/{{company.symbol}}/" class="">{{company.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li data-username="hashtags"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-hash"></i></span><span
                            class="pcoded-mtext">Hashtags</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/hashtags/" class="">All Hashtags</a></li>
                        <hr/>
                        {% for hashtag in hashtags|slice:':10' %}
                            <li class=""><a href="/hashtags/{{hashtag.clean_value}}/" class="">{{hashtag.value}}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li data-username="twitterusers"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span
                            class="pcoded-mtext">Users</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/users/" class="">All Users</a></li>
                        <hr/>
                        {% for user in users|slice:':10' %}
                            <li class=""><a href="/users/{{user.id}}/" class="">{{user.username}}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Network</label>
                </li>
                <li data-username="Users" 
                    class="nav-item {% if 'user' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                            <span class="pcoded-mtext">Contributors</span></a>
                </li>
                <li data-username="sets group"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-slack"></i></span><span
                            class="pcoded-mtext">All Sets</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/sets/" class="">All Sets</a></li>
                        <hr/>
                        {% for set in sets.all %}
                            <li class=""><a href="/sets/{{set.pk}}/" class="">{{set.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Personal</label>
                </li>
                <li data-username="dashboard custom" 
                    class="nav-item {% if 'custom' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-twitter"></i></span><span
                            class="pcoded-mtext">My dashboard</span></a>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>
                <li data-username="favorites mine sets"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-star"></i></span><span
                            class="pcoded-mtext">Favorites</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/companies/" class="">All Favorites</a></li>
                        <hr/>
                        {% regroup user.favorites.all by favorite_ct as favorites_grouped %}
                        {% for favorite_group in favorites_grouped %}
                            {% if forloop.counter0 != 0 %}
                                {% if favorite_group.list|length > 0 %}
                                    <hr/>
                                {% endif %}
                            {% endif %}
                            {% for favorite in favorite_group.list %}
                                {% if favorite.favorite_ct.model == 'company' %}
                                    <li class=""><a href="/companies/{{favorite.favorite.symbol}}/" class="">
                                        <i class="feather icon-bar-chart-2"></i> {{favorite.favorite.name}}</a>
                                    </li>
                                {% elif favorite.favorite_ct.model == 'set' %}
                                    <li class=""><a href="/sets/{{favorite.favorite.pk}}/" class="">
                                        <i class="feather icon-slack"></i> {{favorite.favorite.name}}</a>
                                    </li>
                                {% elif favorite.favorite_ct.model == 'hashtag' %}
                                    <li class=""><a href="/hashtags/{{favorite.favorite.clean_value}}/" class="">
                                        <i class="feather icon-hash"></i> {{favorite.favorite.clean_value}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </li>
                <li data-username="mine my sets"
                    class="nav-item pcoded-hasmenu ">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-slack"></i></span><span
                            class="pcoded-mtext">My Sets</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/companies/" class="">All Sets</a></li>
                        <hr/>
                        {% for set in user.sets.all %}
                            <li class=""><a href="/sets/{{set.pk}}/" class="">{{set.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>

                {% comment %} <li class="nav-item pcoded-menu-caption">
                    <label>Forms & table</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item {% if 'form_elements' in segment %} active {% endif %}">
                    <a href="/form_elements.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Form elements</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/chart-morris.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
                </li>
                <li data-username="Maps Google" 
                    class="nav-item {% if 'map-google' in segment %} active {% endif %}">
                    <a href="/map-google.html" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-map"></i></span><span
                        class="pcoded-mtext">Maps</span></a></li> {% endcomment %}

                {% comment %}<li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/register.html" class="" target="_blank">Sign UP</a></li>
                        <li class=""><a href="/login.html" class="" target="_blank">Sign IN</a></li>
                    </ul>
                </li>{% endcomment %}

                {% comment %} <li class="nav-item pcoded-menu-caption">
                    <label>Help</label>
                </li>                    
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://appseed.us/support" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li> {% endcomment %}

            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
